{% extends 'base.html' %}
{% load static %}


{% block title %}
Leaderboard
{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}

<h1 class="text-4xl uppercase text-white font-medium flex justify-center my-5">
    <i class="fa-solid fa-crown pr-3" style="color: #FFD43B;"></i>Leaderboard<i class="fa-solid fa-crown pl-3"
        style="color: #FFD43B;"></i>
</h1>

<section class="w-5/6 h-[50vh] mx-auto flex flex-wrap gap-10 justify-center mt-10">

    <div id="python-leaderboard" class="w-3/12 text-center">
        <h1 class="text-2xl text-white bg-gradient-to-r from-cyan-500 to-orange-500 rounded-sm">Python</h1>

        {% if python_leaderboard.0 %}
        <h3 class="text-xl text-white">
            <i class="fa-solid fa-medal text-[#FFD700]"></i>{{ python_leaderboard.0.user }} -
            {{ python_leaderboard.0.correct_answers }}/15 - Time: {{ python_leaderboard.0.finish_time }}s
        </h3>
        {% endif %}

        {% if python_leaderboard.1 %}
        <h3 class="text-xl text-white">
            <i class="fa-solid fa-medal text-[#D3D3D3]"></i>{{ python_leaderboard.1.user }} -
            {{ python_leaderboard.1.correct_answers }}/15 - Time: {{ python_leaderboard.1.finish_time }}s
        </h3>
        {% endif %}

        {% if python_leaderboard.2 %}
        <h3 class="text-xl text-white">
            <i class="fa-solid fa-medal text-[#CD7F32]"></i>{{ python_leaderboard.2.user }} -
            {{ python_leaderboard.2.correct_answers }}/15 - Time: {{ python_leaderboard.2.finish_time }}s
        </h3>
        {% endif %}

        {% for x in python_leaderboard_next %}
        <h3 class="text-xl text-white">
            {{ x.user }} - {{ x.correct_answers }}/15 - Time: {{ x.finish_time }}s
        </h3>
        {% endfor %}

        <div class="mb-10"></div>

        <div class="text-2xl text-white select-none">
            <span class="">
                {% if python_leaderboard.has_previous %}
                <a href="?page_python=1"><i class="fa-solid fa-angles-left"></i></a>
                <a href="?page_python={{ python_leaderboard.previous_page_number }}"><i
                        class="fa-solid fa-angle-left"></i></a>
                {% endif %}

                <span class="">
                    {{ python_leaderboard.number }} / {{ python_leaderboard.paginator.num_pages }}
                </span>

                {% if python_leaderboard.has_next %}
                <a href="?page_python={{ python_leaderboard.next_page_number }}"><i
                        class="fa-solid fa-angle-right"></i></a>
                <a href="?page_python={{ python_leaderboard.paginator.num_pages }}"><i
                        class="fa-solid fa-angles-right"></i></a>
                {% endif %}
            </span>
        </div>
    </div>

    <div id="javascript-leaderboard" class="w-3/12 text-center">
        <h1 class="text-2xl text-white bg-gradient-to-r from-yellow-600 to-yellow-600 rounded-sm">JavaScript</h1>

        {% if javascript_leaderboard.0 %}
        <h3 class="text-xl text-white">
            <i class="fa-solid fa-medal text-[#FFD700]"></i>{{ javascript_leaderboard.0.user }} -
            {{ javascript_leaderboard.0.correct_answers }}/15 - Time: {{ javascript_leaderboard.0.finish_time }}s
        </h3>
        {% endif %}

        {% if javascript_leaderboard.1 %}
        <h3 class="text-xl text-white">
            <i class="fa-solid fa-medal text-[#D3D3D3]"></i>{{ javascript_leaderboard.1.user }} -
            {{ javascript_leaderboard.1.correct_answers }}/15 - Time: {{ javascript_leaderboard.1.finish_time }}s
        </h3>
        {% endif %}

        {% if javascript_leaderboard.2 %}
        <h3 class="text-xl text-white">
            <i class="fa-solid fa-medal text-[#CD7F32]"></i>{{ javascript_leaderboard.2.user }} -
            {{ javascript_leaderboard.2.correct_answers }}/15 - Time: {{ javascript_leaderboard.2.finish_time }}s
        </h3>
        {% endif %}

        {% for x in javascript_leaderboard_next %}
        <h3 class="text-xl text-white">
            {{ x.user }} - {{ x.correct_answers }}/15 - Time: {{ x.finish_time }}s
        </h3>
        {% endfor %}

        <div class="mb-10"></div>

        <div class="text-2xl text-white select-none">
            <span class="">
                {% if javascript_leaderboard.has_previous %}
                <a href="?page_js=1"><i class="fa-solid fa-angles-left"></i></a>
                <a href="?page_js={{ javascript_leaderboard.previous_page_number }}"><i
                        class="fa-solid fa-angle-left"></i></a>
                {% endif %}

                <span class="">
                    {{ javascript_leaderboard.number }} / {{ javascript_leaderboard.paginator.num_pages }}
                </span>

                {% if javascript_leaderboard.has_next %}
                <a href="?page_js={{ javascript_leaderboard.next_page_number }}"><i
                        class="fa-solid fa-angle-right"></i></a>
                <a href="?page_js={{ javascript_leaderboard.paginator.num_pages }}"><i
                        class="fa-solid fa-angles-right"></i></a>
                {% endif %}
            </span>
        </div>
    </div>

    <div id="html-css-leaderboard" class="w-3/12 text-center">
        <h1 class="text-2xl text-white bg-gradient-to-r from-orange-600 to-blue-600 rounded-sm">HTML/CSS</h1>

        {% if html_css_leaderboard.0 %}
        <h3 class="text-xl text-white">
            <i class="fa-solid fa-medal text-[#FFD700]"></i>{{ html_css_leaderboard.0.user }} -
            {{ html_css_leaderboard.0.correct_answers }}/15 - Time: {{ html_css_leaderboard.0.finish_time }}s
        </h3>
        {% endif %}

        {% if html_css_leaderboard.1 %}
        <h3 class="text-xl text-white">
            <i class="fa-solid fa-medal text-[#D3D3D3]"></i>{{ html_css_leaderboard.1.user }} -
            {{ html_css_leaderboard.1.correct_answers }}/15 - Time: {{ html_css_leaderboard.1.finish_time }}s
        </h3>
        {% endif %}

        {% if html_css_leaderboard.2 %}
        <h3 class="text-xl text-white">
            <i class="fa-solid fa-medal text-[#CD7F32]"></i>{{ html_css_leaderboard.2.user }} -
            {{ html_css_leaderboard.2.correct_answers }}/15 - Time: {{ html_css_leaderboard.2.finish_time }}s
        </h3>
        {% endif %}

        {% for x in html_css_leaderboard_next %}
        <h3 class="text-xl text-white">
            {{ x.user }} - {{ x.correct_answers }}/15 - Time: {{ x.finish_time }}s
        </h3>
        {% endfor %}

        <div class="mb-10"></div>

        <div class="text-2xl text-white select-none">
            <span class="">
                {% if html_css_leaderboard.has_previous %}
                <a href="?html_css_leaderboard=1"><i class="fa-solid fa-angles-left"></i></a>
                <a href="?html_css_leaderboard={{ html_css_leaderboard.previous_page_number }}"><i
                        class="fa-solid fa-angle-left"></i></a>
                {% endif %}

                <span class="">
                    {{ html_css_leaderboard.number }} / {{ html_css_leaderboard.paginator.num_pages }}
                </span>

                {% if html_css_leaderboard.has_next %}
                <a href="?html_css_leaderboard={{ html_css_leaderboard.next_page_number }}"><i
                        class="fa-solid fa-angle-right"></i></a>
                <a href="?html_css_leaderboard={{ html_css_leaderboard.paginator.num_pages }}"><i
                        class="fa-solid fa-angles-right"></i></a>
                {% endif %}
            </span>
        </div>
    </div>

</section>



{% endblock %}