{% extends 'base.html' %}
{% load static %}

{% block title %}About me{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}
 

<div class="w-2/3 mx-auto p-6">
    <h1 class="text-3xl text-cyan-200 text-center font-bold mb-4">About me</h1>
    
    <p class="text-2xl text-slate-200 mb-4 ">
        Hello there! 👋 I'm Petko Todorov, the creator of this site. This marks my first significant website project.
    </p>

    <p class="text-2xl text-slate-200 mb-10">
        Link to site in <a href="https://github.com/petko940/Quiz-web-app" class="underline"><i
                class="fa-brands fa-github pr-1"></i>GitHub</a>
    </p>

    <p class="text-2xl text-center text-slate-200">
        Thank you for visiting my site and have fun at quizzes! 🚀
    </p>
</div>


{% endblock %}