{% load static %}
<style>
    .underline-on-hover {
        position: relative;
        display: inline-block;
    }

    .underline-on-hover:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: darkcyan;
        transition: width 0.5s ease;
    }

    .underline-on-hover:hover:before {
        width: 100%;
    }
</style>


<div class="bg-slate-800">
    <nav class="flex justify-between items-center mx-8 text-2xl">
        <ul>
            <a href="/"><img class="w-52 max-lg:w-36 max-md:w-20 h-auto" src="{% static 'images/nav-logo.png' %}" alt=""></a>
        </ul>

        <ul class="hidden lg:flex gap-5">
            <li class="underline-on-hover">
                <a href="{% url 'leaderboard' %}" class="block text-center p-4 text-gray-100">
                    Leaderboards
                </a>
            </li>
            <li class="underline-on-hover">
                <a href="{% url 'recent-quizzes' %}" class="block text-center p-4 text-gray-100">
                    Recent
                </a>
            </li>
            <li class="underline-on-hover">
                <a href="{% url 'about' %}" class="block text-center p-4 text-gray-100">
                    About
                </a>
            </li>
        </ul>

        <ul class="hidden lg:flex gap-5">
            {% if user.is_authenticated %}
            <li class="underline-on-hover">
                <a href="{% url 'profile' user %}" class="block text-center p-4 text-gray-100">
                    Profile
                </a>
            </li>
            <li class="underline-on-hover">
                <a href="{% url 'logout' %}" class="block text-center p-4 text-gray-100">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </li>
            {% else %}
            <li class="underline-on-hover">
                <a href="{% url 'login' %}" class="block text-center p-4 text-gray-100">
                    Log in
                </a>
            </li>
            <li class="bg-orange-700 rounded hover:bg-[darkcyan] transition-all duration-300">
                <a href="{% url 'register' %}" class="block text-center p-4 text-gray-100">
                    Register
                </a>
            </li>
            {% endif %}
        </ul>

        <div id="hamburger" class="block lg:hidden">
            <button id="hamburger-btn" class="focus:outline-none">
                <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </nav>

    <div id="mobileMenu" class="hidden lg:hidden bg-slate-800">
        <!-- Mobile menu items -->
        <ul class="flex flex-col gap-2 items-end">
            <li>
                <a href="{% url 'leaderboard' %}" class="block text-center p-4 text-gray-100">
                    Leaderboards
                </a>
            </li>
            <li>
                <a href="{% url 'recent-quizzes' %}" class="block text-center p-4 text-gray-100">
                    Recent
                </a>
            </li>
            <li>
                <a href="{% url 'about' %}" class="block text-center p-4 text-gray-100">
                    About
                </a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'profile' user %}" class="block text-center p-4 text-gray-100">
                    Profile
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}" class="block text-center p-4 text-gray-100">
                    Logout
                </a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}" class="block text-center p-4 text-gray-100">
                    Log in
                </a>
            </li>
            <li>
                <a href="{% url 'register' %}" class="block text-center p-4 text-gray-100">
                    Register
                </a>
            </li>
            {% endif %}
        </ul>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const hamburgerBtn = document.getElementById('hamburger-btn');
            const mobileMenu = document.getElementById('mobileMenu');

            hamburgerBtn.addEventListener('click', function () {
                mobileMenu.classList.toggle('hidden');
            });
        });
    </script>
</div>
