{% load static %}
<style>
    .underline-on-hover {
        position: relative;
        display: inline-block;
    }

    .underline-on-hover:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: darkcyan;
        transition: width 0.5s ease;
    }

    .underline-on-hover:hover:before {
        width: 100%;
    }
</style>

<div class="bg-slate-800">
    <nav class="flex flex-wrap justify-between items-center mx-8 text-2xl">
        <ul>
            <a href="/"><img class="w-52 h-auto" src="{% static 'images/nav-logo.png' %}" alt=""></a>
        </ul>

        <ul class="flex gap-5">
            <li class="underline-on-hover">
                <a href="{% url 'leaderboard' %}" class="block text-center p-4 text-gray-100">
                    Leaderboards
                </a>
            </li>
            <li class="underline-on-hover">
                <a href="{% url 'recent-quizzes' %}" class="block text-center p-4 text-gray-100">
                    Recent
                </a>
            </li>
            <li class="underline-on-hover">
                <a href="{% url 'about' %}" class="block text-center p-4 text-gray-100">
                    About
                </a>
            </li>
        </ul>

        <ul class="flex gap-5">
            {% if user.is_authenticated %}
            <li class="underline-on-hover">
                <a href="{% url 'profile' user %}" class="block text-center p-4 text-gray-100">
                    {% if user.is_authenticated %}
                    Welcome, {{ user.username }}
                    {% endif %}
                </a>
            </li>
            <li class="underline-on-hover">
                <a href="{% url 'logout' %}" class="block text-center p-4 text-gray-100">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </li>

            {% else %}
            <li class="underline-on-hover">
                <a href="{% url 'login' %}" class="block text-center p-4 text-gray-100">
                    Log in
                </a>
            </li>
            <li class="bg-orange-700 rounded hover:bg-[darkcyan] transition-all duration-300">
                <a href="{% url 'register' %}" class="block text-center p-4 text-gray-100">
                    Register
                </a>
            </li>          
            {% endif %}
        </ul>
    </nav>
</div>