{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login-signup.css' %}">
{% endblock %}

{% block title %}
login and signup
{% endblock %}

{% block content %}

<style>
    body {
        background-image: url("{% static 'images/background/auth-background.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<section class="rounded mx-auto mt-10 text-gray-400 bg-slate-900 body-font w-2/5">
    <form method="POST" class="">
        {% csrf_token %}
        <h2 class="text-6xl text-center my-10 pt-4">Register</h2>
        <div class="flex flex-col gap-3 px-14 py-3">
            <div class="relative">
                {{ form.username }}
                <span class="absolute top-3 left-6">
                    <i class="fa-solid fa-user"></i>
                </span>
            </div>
            <div class="relative">
                {{ form.email }}
                <span class="absolute top-3 left-6">
                    <i class="fa-solid fa-at"></i>
                </span>
            </div>
            <div class="relative">
                {{ form.password1 }}
                <span class="absolute top-3 left-6">
                    <i class="fa-solid fa-lock"></i>
                </span>
            </div>
            <div class="relative">
                {{ form.password2 }}
                <span class="absolute top-3 left-6">
                    <!-- <i class="fa-solid fa-lock"></i> -->
                </span>
            </div>

        </div>

        <div class="flex justify-center pb-10 pt-3">
            <button class="btn font-bold px-4 rounded-md">Register</button>
        </div>

        <div class="flex justify-center">
            {% if form.errors %}
            <div class="errorlist">
                {% for field in form %}
                {% for error in field.errors %}
                <p class="text-red-700 text-xl mb-3 text-center">{{ error }}</p>
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </form>

    <div class="flex flex-wrap justify-center items-center gap-3 mt-2 pb-5 mx-2">
        <a href="{% url 'social:begin' 'google-oauth2' %}"
            class="bg-red-700 hover:bg-red-900 text-white font-bold py-2 px-4 rounded-full flex items-center justify-center">
            <i class="fa-brands fa-google pr-5"></i>
            Login with Google
        </a>
        <a href="{% url 'social:begin' 'facebook' %}"
            class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-full flex items-center justify-center">
            <i class="fa-brands fa-facebook pr-5"></i>
            Login with Facebook
        </a>
    </div>
    
</section>

{% endblock %}